h1 {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    text-shadow: 2px 2px 4px gray;
}

#burger{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create-form {
    text-align: center;
}

h2, h3 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 2px 2px 4px gray;
}

h4 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    text-decoration: underline;
}

p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.card {
    margin: 0 auto;
}

li {
    font-family: 'Montserrat', sans-serif;
}

.border-right {
    border-right: 1px solid black;
}